.cards_carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  margin-bottom: 32px;
}

.none_container {
  width: 100%;
  padding: 40px 0px;
  text-align: center;
}

.carousel_item {
  flex: 0 0 auto;
  margin-right: 16px;
  scroll-snap-align: start;
}

.carousel::-webkit-scrollbar {
  display: none;
}
